*
{
	/* when are browser devs gonna make this field consistent for once */
	image-rendering: optimizeSpeed;
	image-rendering: pixelated;
}

body
{
	background: #6d2379;
	margin: 0;
	font-family: "MS Gothic";
	font-size: 12px;
	color: #fff;
}
/*
how do i do boxes
*/
.cont	
{
	z-index: 1;
	text-align: center;
	background: rgba(0,0,0,0.70);
	margin-top: 15px;
	margin-left: 15%;
	margin-right: 15%;

	padding-top: 4px;
	padding-bottom: 4px;
}

a
{
	color: #eb9c85;
	text-decoration: none;
}
a:hover
{
	text-decoration: underline;
}

/*
background thingy from cave story
*/
.bkgcon
{
	z-index: -1;
	position: fixed;
	bottom: 0;
	width: 100%;
}
.bkga:nth-child(1)
{
	background: url("img/bkg/moon.png") no-repeat;
	height: 35px;
}
.bkga:nth-child(2)
{
	background: url("img/bkg/lay3.png") repeat-x;
	height: 38px;
	animation: adf 4s infinite linear;
}
.bkga:nth-child(3)
{
	background: url("img/bkg/lay2.png") repeat-x;
	height: 23px;
	animation: adf 3.5s infinite linear;
}
.bkga:nth-child(4)
{
	background: url("img/bkg/lay1.png") repeat-x;
	height: 31px;
	animation: adf 3s infinite linear;
}
.bkga:nth-child(5)
{
	background: url("img/bkg/lay0.png") repeat-x;
	height: 63px;
	animation: adf 2s infinite linear;
}
@keyframes adf
{
	from {
        background-position-x: 0px;
    }
    to {
        background-position-x: 320px;
    }
}