@font-face {
    font-family: comicsans;
    src: url(assets/comic.ttf);
}
body {
    margin: 0;
    background: black;
    color: #00a100;
    font-family: comicsans;
}
.center {
    text-align: center;
}
input {
    background: black;
    color: #00a100;
    border: #00a100;
    font-family: comicsans;
}
.sidenav {
    position: relative;
    height: 100%;
    width: 15%;
    z-index: 3;
    top: 0;
    left: 0;
    background: #00a100;
    overflow-x: hidden;
    padding-top: 20px;
    color: black;
    margin-bottom: 0;
    font-size: 2em;
}
.sidenav a {
    color: black;
    margin: 2px;
}
  
.main {
    position: absolute;
    margin-left: 15%; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}
.end {
    position: relative;
    height: 100%;
    width: 15%;
    background: color: #00a100;
}