img {
    height: 150px;
    image-rendering: pixelated;
}
body {
    text-align: center;
    background: url(bg.png);
    font-family: MS UI Gothic;
}
.sc {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
}
#box {
    background: #080311;
    color: white;
    margin: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}
#box a {
    text-decoration: none;
    color: #ff82d5;
}
#box a:hover {
    text-decoration: underline;
}